@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Kirang+Haerang&family=Roboto+Flex:opsz,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,96,468,79,-203,738,514,712&display=swap');


h1 {
  font-family: "Barrio";
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Kirang Haerang";
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Roto-fleX";
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}