* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-size: 3.48vw;
  overflow-x: hidden;
}

h1 {
  font-family: "Darumadrop One";
  font-weight: Regular;
  font-size: 13.92vw;
  line-height: 13vw;
  opacity: 1;
  text-align: center;
}

h2 {
  font-family: "Balsamiq Sans";
  font-weight: Bold;
  font-size: 4.98vw;
  line-height: 13.98vw;
  opacity: 1;
  text-align: left;
}

button {
  font-family: "Darumadrop One";
  font-weight: Regular;
  font-size: 5.97vw;
  line-height: 13.98vw;
  opacity: 1;
  text-align: center;
  border: none;
  
}

.page {
  width: 100vw;
  height: 200.25vw; 
  
  background-image: url("../images/v147_504.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;

  position: relative;
}


.logo {
    width: 69.66vw;
    aspect-ratio: 69.66 / 23.66;

    background: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    position: absolute;
    top: 53.58vw;
    left: 50%;
    transform: translateX(-50%);
}

.logo2 {
    width: 71.66vw;
    aspect-ratio: 71.66 / 7.66;

    background: url("../images/logo2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 83.58vw;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    width: 47.66vw;
    height: 12.66vw;

    background: url("../images/button.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 97.58vw;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.v106_298 {
  width: 100vw;
  height: 200.25vw; /* 805 / 402 × 100 */
  background: url("../images/v106_298.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.v140_449 {
  width: 11.44vw;
  height: 11.44vw;
  background: url("../images/v140_449.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21.64vw;
  left: 75.37vw;
  overflow: hidden;
}

.v142_457 {
  width: 18.66vw;
  height: 18.66vw;
  background: url("../images/v142_457.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 134.58vw;
  left: 76.62vw;
  overflow: hidden;
}

.v142_459 {
  width: 17.66vw;
  height: 17.66vw;
  background: url("../images/v142_459.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31.34vw;
  left: 73.38vw;
  overflow: hidden;
}

.v142_461 {
  width: 23.88vw;
  height: 23.88vw;
  background: url("../images/v142_461.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152.99vw;
  left: 38.06vw;
  overflow: hidden;
}

.v142_462 {
  width: 12.94vw;
  height: 12.94vw;
  background: url("../images/v142_462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 121.64vw;
  left: 27.11vw;
  overflow: hidden;
}

.v142_465 {
  width: 18.41vw;
  height: 18.41vw;
  background: url("../images/v142_465.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 143.78vw;
  left: 10.45vw;
  overflow: hidden;
}

.v142_466 {
  width: 20.90vw;
  height: 20.90vw;
  background: url("../images/v142_466.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16.92vw;
  left: 7.96vw;
  overflow: hidden;
}

.v142_478 {
  width: 42.29vw;
  height: 11.44vw;
  background: url("../images/v142_478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96.77vw;
  left: 28.86vw;
  overflow: hidden;
}

.v142_475 {
  width: 42.29vw;
  height: 11.44vw;
  background: none;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 17.91vw;
  overflow: hidden;
}

.v142_479 {
  width: 31.09vw;
  color: rgba(121,103,89,1);
  position: absolute;
  top: 1vw;
  left: 5.72vw;
  font-family: "Darumadrop One";
  font-weight: Regular;
  font-size: 5.97vw;
  opacity: 1;
  text-align: left;
}